/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'colors-of-autumn';
  src: url("../fonts/colors_of_autumn-webfont.eot");
  src: url("../fonts/colors_of_autumn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/colors_of_autumn-webfont.woff") format("woff"), url("../fonts/colors_of_autumn-webfont.ttf") format("truetype"), url("../fonts/colors_of_autumn-webfont.svg#colors_of_autumnregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 61, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 200%; }

/* line 64, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 32px;
  line-height: 1.5em; }

/* line 34, ../scss/screen.scss */
html, body {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  height: 100%;
  color: white; }

/* line 39, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5em; }

/* line 44, ../scss/screen.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 45, ../scss/screen.scss */
h2 {
  font-size: 1.5em;
  margin: 0.75em 0; }

/* line 46, ../scss/screen.scss */
h3 {
  font-size: 1.17em;
  margin: 0.83em 0; }

/* line 47, ../scss/screen.scss */
h5 {
  font-size: .83em;
  margin: 1.5em 0; }

/* line 48, ../scss/screen.scss */
h6 {
  font-size: .75em;
  margin: 1.67em 0; }

/* line 50, ../scss/screen.scss */
a {
  color: #dddddd;
  text-decoration: none;
  border-bottom: 1px dotted #660099;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  -o-transition: all, 500ms;
  transition: all, 500ms; }
  /* line 18, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #999999; }
  /* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #660099; }
  /* line 27, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: black; }
  /* line 55, ../scss/screen.scss */
  a:hover {
    border-bottom: 2px solid #660099; }

/* line 59, ../scss/screen.scss */
.remove-bottom {
  margin-bottom: 0; }

/* line 62, ../scss/screen.scss */
.remove-top {
  margin-top: 0; }

/* line 65, ../scss/screen.scss */
.crazy {
  font-family: "colors-of-autumn", "brandon-grotesque", helvetica, sans-serif; }

/* line 69, ../scss/screen.scss */
article, .cover {
  padding: 86px; }

/* line 72, ../scss/screen.scss */
.cover {
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 80, ../scss/screen.scss */
section {
  background: black;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 5px solid white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 91, ../scss/screen.scss */
.between {
  background: black url(../img/bg.jpg) no-repeat top center fixed;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 100, ../scss/screen.scss */
#home {
  border: none; }
  /* line 102, ../scss/screen.scss */
  #home .cover {
    background: black url(../img/bg.jpg) no-repeat top center fixed;
    height: 65%; }
  /* line 106, ../scss/screen.scss */
  #home nav {
    font-size: 1.5em;
    line-height: 2em;
    background: white;
    color: black;
    width: 100%; }
    /* line 111, ../scss/screen.scss */
    #home nav h2 {
      margin: 0; }
    /* line 114, ../scss/screen.scss */
    #home nav ul {
      list-style: none; }
      /* line 116, ../scss/screen.scss */
      #home nav ul li {
        display: inline-block;
        text-align: center;
        min-width: 30%;
        height: 100%; }
        /* line 121, ../scss/screen.scss */
        #home nav ul li a {
          color: black;
          border: none; }
          /* line 124, ../scss/screen.scss */
          #home nav ul li a:hover {
            border-bottom: 3px dotted #660099; }

/* line 132, ../scss/screen.scss */
#events {
  background: black url(../img/event.jpg) no-repeat top center fixed; }

/* line 135, ../scss/screen.scss */
#mixes {
  background: black url(../img/mix.jpg) no-repeat bottom center fixed; }

/* line 138, ../scss/screen.scss */
#contact {
  background: black url(../img/contact.jpg) no-repeat bottom center fixed; }
