/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "compass/reset";
@font-face {
    font-family: 'colors-of-autumn';
    src: url('../fonts/colors_of_autumn-webfont.eot');
    src: url('../fonts/colors_of_autumn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colors_of_autumn-webfont.woff') format('woff'),
         url('../fonts/colors_of_autumn-webfont.ttf') format('truetype'),
         url('../fonts/colors_of_autumn-webfont.svg#colors_of_autumnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// =Settings
	//color
	$highlight:#471C7B;
	$white:#fff;
	$black:#000;

	//type
	$base-font-size: 32px;
	$base-line-height: 48px;
	$font-family:"brandon-grotesque", helvetica, sans-serif;

// =includes
	@include establish-baseline($base-font-size);

// Basic =Type
html, body{
	font-family: $font-family;
	height: 100%;
	color: $white;
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1.5em;
}
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }

a{
	@include link-colors(#ddd,#609,#000,#999);
	text-decoration:none;
	border-bottom: 1px dotted $highlight;
	@include transition(all, 500ms); 
	&:hover{
		border-bottom: 2px solid $highlight;
	}
}
.remove-bottom{
	margin-bottom: 0;
}
.remove-top{
	margin-top: 0;
}
.crazy{
	font-family: 'colors-of-autumn', $font-family;
}
// =Bits
	article, .cover{
		padding: 86px;
	}
	.cover{
		color: $white;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
// =Sections
	section{
		position: relative;
		overflow: hidden;
		width: 100%;
		border-bottom: 5px solid $white;
		-webkit-background-size: cover;
		   -moz-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	.between{
		background: #000 url(../img/bg.jpg) no-repeat top center fixed;
		height: 100px;
	}
// =Specifics
#home{
	border: none;
	.cover{
		background: #000 url(../img/bg.jpg) no-repeat top center fixed;
		height: 65%;
	}
	nav{
		@include adjust-font-size-to(48px);
		background: $white;
		color: $black;
		width: 100%;
		h2{
			margin: 0;
		}
		ul{
			list-style: none;
			li{
				display: inline-block;
				text-align: center;
				min-width: 30%;
				height: 100%;
				a{
					color: $black;
					border:none;
					&:hover{
						border-bottom: 3px dotted $highlight;
					}
				}
			}
		}
	}
}
#events{
	background: #000 url(../img/event.jpg) no-repeat top center fixed;
}
#mixes{
	background: #000 url(../img/mix.jpg) no-repeat top center fixed;
}
#booking{
	background: #000 url(../img/contact.jpg) no-repeat top center fixed;
}